@model Lab3.ViewModels.CartViewModel

@{
    ViewBag.Title = "Index";
}

<h2 class="row">Shopping cart</h2>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Thumbs</th>
            <th scope="col">Product name</th>
            <th scope="col">Price</th>
            <th scope="col">Quantity</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.carts)
        {
            <tr>
                <td scope="col">@item.product.ID</td>
                <td scope="col">
                    <img src="~/Content/img/products/@item.product.ThumbnailURL" height="50" />
                </td>
                <td scope="col">@item.product.Name</td>
                <td scope="col">@item.product.Price</td>
                <td scope="col">
                    @using (Html.BeginForm("Update", "ShoppingCart", FormMethod.Get))
                    {
                        @Html.AntiForgeryToken()
                        <input type="hidden" name="id" value="@item.product.ID" />
                        <input type="number" name="quantity" value="@item.quantity" min="0" />
                        <button type="submit" class="btn btn-success">Update quantity</button>
                    }

                </td>
                <td scope="col">
                    @Html.ActionLink("Remove", "Remove", new { id = item.product.ID }, new { @class = "btn btn-danger" })
                </td>
            </tr>
        }
    </tbody>
</table>

<div class="row justify-content-between">
    <div class="col-4 alert alert-primary">Total price: @ViewBag.TotalPrice </div>
    <div class="col-1">
        @if (Session["ShoppingCart"] != null && Model.carts.Count > 0)
        {
            @Html.ActionLink("Checkout", "CheckOut", null, new { @class = "btn btn-success" })
        }
        else
        {
            <div class="btn btn-dark">Checkout</div>
        }
    </div>
</div>
